body {
  background-color: #121212;
  color: #FFFFFF;
}

div.container {
  display: grid;
  place-items: center;
  background-color: #333333;
  /* background-color: red; */
  border: 1px solid #444444;
  border-radius: 10px;
  padding: 20px 0px;
}

div.container-content {
  display: grid;
  place-items: center;
  /* background-color: #333333; */
  /* background-color: pink; */
  /* border: 1px solid #444444; */
  padding: 20px 0px;
  /* border-radius: 10px; */
}

div.togglable {
  /* margin: 50px; */
  /* padding: 50px; */
  /* background-color: orange; */
  width: 100%;
}


/* table */
table.mytable {
  width: auto;
  border-collapse: collapse;
  margin: 20px 0;
  text-align: left;
  color: #FFFFFF;
}

table.mytable th, table.mytable td {
  padding: 5px 5px;
  border: 1px solid #444444;
}

table.mytable thead {
  background-color: #555555;
  text-align: center;
}

table.mytable thead th {
  border-bottom: 2px solid #777777;
  font-weight: bold;
}

table.mytable tbody tr {
  border-bottom: 1px solid #444444;
}

table.mytable tbody tr:nth-of-type(even) {
  background-color: #2a2a2a;
}

table.mytable tbody tr:nth-of-type(odd) {
  background-color: #1a1a1a;
}

table.mytable tbody tr.hidden-row {
  background-color: #245e5b;
}

table.mytable tbody tr.hidden-row:nth-of-type(odd) {
  background-color: #1d4e4c;
}


/* input group */
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #574c4c;
  color: #FFFFFF;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  height: 42px;
}

.input-group {
  display: flex;
  align-items: center;
}

p {
  margin: 0 0;
}

.input-group-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}