html, body {
  height: 100%;
  font-size: 1.3rem;
  margin: 5%;
}

body {
  display: flex;
  flex-direction: column; /* Allow content to stack vertically */
  justify-content: flex-start; /* Align content at the top */
  align-items: center;
  background-color: #121212;
  color: white;
  padding-top: 5%; /* Adds some blank space at the top */
}

tbody tr {
  text-align: left;
}

input {
  font-size: 1.4rem !important;
}
