html, body {
    height: 100%;
    font-size: 1.5rem;
}  
#DOB {
    width: 50%;
}
div.ui-datepicker{
    font-size:1.0rem;
}
.big-margin-vertical {
    margin-top: 200px;
    margin-bottom: 200px;
}
/* @media (max-width: 1250px) {
    html, body {
        height: 100%;
        font-size: 1rem;
    }
} */